<section>
    <div class="main-case-study">
        <h1 class="title" style="text-align: center;">{{ .Params.title }}</h1>
        <h2 class="subtitle" style="text-align: center;">{{ .Params.case_subtitle }}</h2>
        <img src="{{ .Params.case_feature_img }}" alt="">
        <p class="summary">{{ .Params.case_summary }}</p>
        {{ if .Params.team | or .Params.roles | or .Params.methods }}
        <div class="case-details">
            {{ if and (.Params.team) (not (in .Params.team "")) }}
            <div class="case-details-item">
                <p>
                    <strong>Team</strong>
                    {{ range .Params.team }}
                    <br>{{ . }} {{end}}
                </p>
            </div>
            {{ end }} {{ if and (.Params.roles) (not (in .Params.roles "")) }}
            <div class="case-details-item">
                <p>
                    <strong>My Role</strong>
                    {{ range .Params.roles }}
                    <br>{{ . }} {{ end }}
                </p>
            </div>
            {{ end }} {{ if and (.Params.methods) (not (in .Params.methods "")) }}
            <div class="case-details-item">
                <p>
                    <strong>Methods</strong>
                    {{ range .Params.methods }}
                    <br>{{ . }} {{ end }}
                </p>
            </div>
            {{ end }}
        </div>
        {{ end }}
        <div class="case-links">
            {{ $baseUrl := .Site.BaseURL }} {{ range $element := .Params.button_links }}
            <div class="link-div">
                <a href="{{ $element.link }}" target="blank" class="case-detail-link">
                    {{ if eq $element.img "download.svg" }}
                    <img style="top:1.8px;" src="{{ $baseUrl }}svg/{{ $element.img }}"> {{ else }}
                    <img src="{{ $baseUrl }}svg/{{ $element.img }}"> {{ end }} {{ $element.text }}
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>