<footer>
    <div class="icons">
        {{ if .Site.Params.Email }}
        <a href="mailto:{{ .Site.Params.Email }}">
            <span class="fa-stack fa-1x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        {{ end }} {{ if .Site.Params.Facebook }}
        <a href="https://facebook.com/{{ .Site.Params.Facebook }}" target="blank">
            <span class="fa-stack fa-1x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        {{ end }} {{ if .Site.Params.Twitter }}
        <a href="https://twitter.com/{{ .Site.Params.Twitter }}" target="blank">
            <span class="fa-stack fa-1x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        {{ end }} {{ if .Site.Params.Dribbble }}
        <a href="https://dribbble.com/{{ .Site.Params.Dribbble }}" target="blank">
            <span class="fa-stack fa-1x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-dribbble fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        {{ end }} {{ if .Site.Params.LinkedIn }}
        <a href="{{ .Site.Params.LinkedIn }}" target="blank">
            <span class="fa-stack fa-1x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        {{ end }} {{ if .Site.Params.Medium }}
        <a href="https://medium.com/@{{ .Site.Params.Medium }}" target="blank">
            <span class="fa-stack fa-1x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-medium-m fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        {{ end }}
    </div>

    <a href="#" style="color: #49a483; text-decoration: underline;" data-scroll-goto="0">Back to top</a>
</footer>